html, body {
  font-family: 'Roboto', arial, sans-serif;
  background-color: #222;
  margin: 0;
  font-weight: 100;
  font-size: 16pt;
}

a {
  text-decoration: none;
  color: #DDD;
}

.canvas {
  min-width: 320px;
}

.title {
  float: left;
  color: #DDD;
  padding: 0.5em;
}

.contact {
  font-size: 60%;
  float: right;
  text-align: bottom;
  margin-top: 1.6em;
  margin-right: 0.5em;
}

.canvas {
}

.image-window {
  clear: both;
  background-color: #EEE;
  background-repeat: no-repeat;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  html, body {
    font-size: 12pt;
  }
}

@media screen and (max-width: 320px) {
  html, body {
    font-size: 12pt;
  }
}
