html, body {
  font-family: 'Roboto', arial, sans-serif;
  background-color: #222;
  margin: 0;
  font-weight: 100;
}

a {
  text-decoration: none;
  color: #DDD;
}


.title {
  float: left;
  color: #DDD;
  font-size: 20pt;
  padding: 0.5em;
}

.contact {
  font-size: 14pt;
  float: right;
  text-align: bottom;
  margin-top: 1em;
  margin-right: 0.5em;
}

.canvas {
}

.image-window {
  clear: both;
  background-color: #EEE;
  background-repeat: no-repeat;
  cursor: pointer;
}
